<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Course</title>
    <th:block th:insert="fragments::head"></th:block>
</head>

<body>
<div class="container">
    <header th:insert="fragments::header"></header>
    <h2>Добавить покупку</h2>
    <form method="post" th:action="@{/purchase/add}" th:object="${purchase}">

        <div class="form-group">
            <label for="buyer.id">Покупатель</label>
            <select class="form-control" id="buyer.id" name="buyer.id" required>
                <option th:each="buyer: ${buyerList}"
                        th:text="${buyer.name + ' ' + buyer.lastname}" th:value="${buyer.id}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="product.id">Продукт</label>
            <select class="form-control" id="product.id" name="product.id" required>
                <option th:each="product: ${productList}"
                        th:text="${product.name}" th:value="${product.id}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="count">Количество</label>
            <input class="form-control" id="count" name="count" required type="text">
            <!--<span style="color: red;" th:errors="*{count}" th:if="${#fields.hasErrors('count')}"></span>-->
        </div>

        <div class="form-group">
            <label for="amount">Стоимость</label>
            <input class="form-control" id="amount" name="amount" required type="text">
            <!--<span style="color: red;" th:errors="*{amount}" th:if="${#fields.hasErrors('amount')}"></span>-->
        </div>

        <div class="form-group">
            <label for="date">Дата</label>
            <input class="form-control" id="date" name="date" required type="date">
        </div>

        <input class="btn btn-primary" type="submit" value="Create">
    </form>
    <footer th:insert="fragments::footer"></footer>
</div>
</body>
</html>