<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменить покупку</title>
    <th:block th:insert="fragments::head"></th:block>
</head>

<body>
<div class="container">
    <header th:insert="fragments::header"></header>
    <div th:insert="fragments::menu_edit"></div>
    <h2>Изменить покупку</h2>
    <form method="post" th:action="@{/purchase/edit}" th:object="${purchase}">

        <div class="form-group">
            <label for="purchase.id">Id:</label>
            <input class="form-control" id="purchase.id" readonly
                   th:field="*{id}" th:placeholder="${purchase.id}">
        </div>
        <div class="form-group">
            <label for="buyer.id">Покупатель</label>
            <select class="form-control" id="buyer.id" name="buyer.id" required>
                <option th:each="buyer : ${buyerList}" th:text="${buyer.name + ' ' + buyer.lastname}"
                        th:value="${buyer.id}" th:selected="${buyer.id == purchase.buyer.id}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="product.id">Продукт</label>
            <select class="form-control" id="product.id" name="product.id" required>
                <option th:each="product : ${productList}" th:text="${product.name}"
                        th:value="${product.id}" th:selected="${product.id == purchase.product.id}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="purchase.count">Количество</label>
            <input class="form-control" id="purchase.count" required th:field="*{count}"
                   th:placeholder="${purchase.count}" type="text">
            <span style="color: red;" th:errors="*{count}" th:if="${#fields.hasErrors('count')}"></span>
        </div>
        <div class="form-group">
            <label for="purchase.amount">Стоимость</label>
            <input class="form-control" id="purchase.amount" required th:field="*{amount}"
                   th:placeholder="${purchase.amount}" type="text">
            <span style="color: red;" th:errors="*{amount}" th:if="${#fields.hasErrors('amount')}"></span>
        </div>
        <div class="form-group">
            <label for="purchase.date">Дата</label>
            <input class="form-control" id="purchase.date" required th:field="*{date}"
                   th:placeholder="${purchase.date}" type="date">
            <span style="color: red;" th:errors="*{date}" th:if="${#fields.hasErrors('date')}"></span>
        </div>

        <input class="btn btn-primary" type="submit" value="Ok">
    </form>
    <footer th:insert="fragments::footer"></footer>
</div>
</body>
</html>