<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Покупки</title>
    <th:block th:insert="fragments::head"></th:block>
</head>

<body>
<div class="container">
    <header th:insert="fragments::header"></header>
    <div th:insert="fragments::menu_edit"></div>
    <h2>Покупки</h2>
    <a th:href="@{/purchase/add}">Добавить покупку</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Имя покупателя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Продукт</th>
            <th>Количество</th>
            <th>Стоимость</th>
            <th>Дата</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="purchase: ${purchaseList}">
            <td th:text="${purchase.buyer.name}"></td>
            <td th:text="${purchase.buyer.lastname}"></td>
            <td th:text="${purchase.buyer.age}"></td>
            <td th:text="${purchase.product.name}"></td>
            <td th:text="${purchase.count}"></td>
            <td th:text="${purchase.amount}"></td>
            <td th:text="${purchase.date}"></td>
            <td><a th:href="@{/purchase/edit/{id}(id=${purchase.id})}">изменить</a></td>
            <td><a th:href="@{/purchase/delete/{id}(id=${purchase.id})}">удалить</a></td>
        </tr>
        </tbody>
    </table>
    <footer th:insert="fragments::footer"></footer>
</div>
</body>
</html>
