<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fragments</title>
</head>

<body>
<block th:fragment="head">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</block>

<header th:fragment="header">
    <h2 th:text="-//-1"></h2>
</header>

<ul class="nav nav-pills" th:fragment="menu_login">
    <li class="nav-item">
        <a class="nav-link active" href="/index" th:text="Главная"></a>
    </li>
</ul>

<ul class="nav nav-pills" th:fragment="menu_edit">
    <li class="nav-item">
        <a class="nav-link active" href="/index" th:text="Главная"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/purchase" th:text="-//-2"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/report" th:text="-//-3"></a>
    </li>
</ul>

<footer th:fragment="footer">
    <p></p>
    <p></p>
    Copyright ©
    <time datetime="2022">2022</time>
    <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span>
                | Roles: <span sec:authentication="principal.authorities"></span>
    </span>
</footer>

</body>
</html>