<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Покупки и отчеты</title>
    <th:block th:insert="fragments::head"></th:block>
</head>

<body>

<div class="container">
    <div class="row justify-content-between">
        <header class="col-8" th:insert="fragments::header"></header>
    </div>
    <span th:insert="fragments::menu_edit"></span>
    <p></p>
    <form method="post" th:action="@{/logout}">
        <button class="btn btn-primary" type="submit">Sign Out</button>
    </form>
    <footer th:insert="fragments::footer"></footer>
</div>

<div th:insert="fragments::scriptForBootstrap"></div>

</body>
</html>